@model IEnumerable<facebook1.Models.friendserch>
@{
    ViewBag.Title = "Homepage";
}
<h2></h2>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link href="../../content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!--<link href="../../Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />!-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    

   
    
    
    <script src="~/content/script/fileadding.js"></script>
    <script src="~/content/script/imgpost.js"></script>
    <script src="~/content/script/selectedimg1.js"></script>
    <script src="~/content/script/photoadding.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"rel="stylesheet" type="text/css" />
    @*<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />*@
    <script src="~/content/script/scriptposting.js"></script>
    <script src="~/content/script/UnFriend.js"></script>
    <link href="~/content/stylesheet/StyleSheet2.css" rel="stylesheet" />
    @*<link href="~/content/hoverproperties.css" rel="stylesheet" />*@

    <script src="~/content/script/searching.js"></script>


    <script src="~/content/script/User_profle_edit.js"></script>
    
    <script src="~/content/script/hoverfunction.js"></script>
    <script src="~/content/script/Post_AD.js"></script>
    <script src="~/content/script/PhotoAdDialogbox.js"></script>
    <script src="~/content/script/flipkrt.js"></script>



    @*<script src="~/content/script/Aply_For_Advrtsr.js"></script>*@

        <script src="~/content/script/changename.js"></script>

            <!-- <script src="../../Scripts/JScript2.js" type="text/javascript"></script>

             <script language="javascript" type="text/javascript">


                 function search_onclick() {

                 }
             </script>!-->
            @*<script>
                $(document).ready(function () {
                    $("#home").mouseover(function () {
                        var status = $("#status").val();
                        //alert(status);
                        if (status == 1) {
                            $("#aply_advrtiser").empty();
                            $("#aply_advrtiser").append("Advertiser");
                            //alert(status);
                        }
                        else {
                            $("#aply_advrtiser").empty();
                            $("#aply_advrtiser").append("Apply For Advertisement");
                        }


                        $.ajax({
                            type: 'GET',
                            dataType: 'Json',
                            url: 'Home/aply_advertisr',
                            data: { logginid: loginid },
                            success: function (data) {
                           }


                        })
                    })
                });
                $(document).on('click', '#bbag', function () {
                    alert("gghjkh");
                    //var a = document.getElementById('bbag'); //or grab it by tagname etc
                   // a.href = "http://localhost:53146/Home/Facebook_Flipkrt"

                    //var url = "http://localhost:53146/Home/Facebook_Flipkrt";
                    //$(location).attr('href', url);
                    // window.location.href = "http://localhost:53146/Home/Facebook_Flipkrt";
                    $.ajax({
                        type: 'GET',
                        dataType: 'Json',
                        url: 'Home/fcall',
                        data: {  },
                        success: function (data) {
                        }
                    })

                });

            </script>*@


        </head>
        <body id="body">
        @*@{using (Html.BeginForm("Homepage1", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
     @{using (Html.BeginForm("Homepage1", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
       
 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="background-color:#3b5998; height:60px;">


                    <input type="text" id="txtsearch" name="X_firstname" style="width:200px; margin-left:70px; height:20px; margin-top:10px;" class="form-control " placeholder="Search Facebook" />@{Html.TextBox("X_firstname");} <input type="button" value="search" id="search" name="cmd1" />

                    <!--<button type="button" class="btn btn-default" style="margin-left:50px; margin-top:5px; width:150px;">!-->
                    <!--<input type ="text" placeholder="Search Facebook" /><span class="glyphicon glyphicon-search"></span>!-->
                    <img src="@ViewData["profilepic"]" style="margin-left:400px; margin-top:5px; width:50px;" /><input type="hidden" value="@ViewData["mainloginid"]" id="X_mainloginid" /><input type="text" value="@ViewData["status"]" id="status" />
                    <font color="white"> @ViewData["firstname"]@ViewData["lastname"]</font>
                    @*<div class="dropdown">
                        <button class="dropbtn" id="home">Home</button>
                        <div class="dropdown-content">
                            <a href="#" id="aply_advrtiser"></a>
                            <a href="#">Log Out</a>
                           
                        </div>
                    </div>*@
                    
                   
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" style="background-color:Silver;width:200px;height:600px;">
                    <img src="@ViewData["profilepic"]" style="width:50px;" /><label style="margin-top:-40px; margin-left:55px;"> @ViewData["firstname"]@ViewData["lastname"] </label><br />Edit profile<br />
                    <i class="glyphicon glyphicon-pencil" style="color:blue;"></i><a href="#" id="aprvfrnd" class="frnd">ApproveFriend</a><br />
                    <i class="glyphicon glyphicon-pencil" style="color:blue;"></i><a href="#" id="frndsrch">Search friend</a><br />
                    <i class="glyphicon glyphicon-pencil" style="color:blue;"></i><a href="#" id="nwsfed">News Feed</a><br />
                    <i class="glyphicon glyphicon-pencil" style="color:blue;"></i><a href="#" id="updatestus">Status Update</a><br />
                    <i class="glyphicon glyphicon-pencil" style="color:blue;"></i><a href="#" id="editprfle">Edit profile</a><br />
                    <label  id="Advrts" style="visibility:hidden">Advertisement</label>
                        <i class="glyphicon glyphicon-signal" style="color:blue;" hidden id="glyphicon_symbol"></i> <a href="#" id="Postad" hidden>Post an add</a>
                    <label>SHOPPING</label>
                    <a href="#" id="flipkrt">Flipkart</a>
                    <input type="submit" value="fkrt" name="btn1" />
                </div>

                <div class="col-md-7" style="background-color: Silver; width: 450px; height:100px;" >
                <pre id="hide"><a href="#">Update Status</a>&nbsp;&nbsp;&nbsp;&nbsp;  <a href="#" id="lnkaddphoto">Add photos/video</a>&nbsp;&nbsp;&nbsp;&nbsp;   <a href="#">Writenotes</a><br />
                <img src="@ViewData["profilepic"]" style="width:50px; margin-left:-110px;" class="profpic" /><input type="text" id="status" style="margin-left:20px;" placeholder="What's on your mind?" maxlength="140" /> <input type="button" id="btnpost" class="btn-primary" value="Post" style="margin-left:300px;" /> </pre><br />
                 
                    <div class="posting" style="background-color:white;" ></div>   
                    <div class="friend" style="background-color:white;" ></div>
                    <div id="dialog" style="display:none;" align="center" class="dialogue">
                        <input type="file" id="filebrows" name="file"  style="opacity: 0.0; filter: alpha(opacity=0); visibility:hidden" accept="image/png" onchange="document.getElementById('img').value = this.value" multiple /><input type="text" id="img" style="visibility:hidden"  />
                    </div>   
                    <div class="prof_edit"></div>   
                    <div class="flipkrt"></div>            
                      </div>
                   
               @*<div class="col-md-1" style="background-color:black; height:150px; width:120px;">*@<pre style="width:400px; " id="pre1">Your adds<div style="background-color:Blue;width:300px;height:475px; margin-left:50px;"></div></pre></div>
            </div>
        </div>
            }}
</body>
</html>